---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Septiembre 2023 - Actualmente...",
    title: "Frontend Engineer − Publicis Global Delivery (PGD)",
    description:
      "Mi enfoque es crear interfaces atractivas y funcionales, optimizadas para un rendimiento excepcional en todos los dispositivos. Con atención meticulosa a la calidad del código, estoy listo para mejorar tu experiencia de usuario y llevar tu proyecto al siguiente nivel",
      company:{
        webside: "https://www.publicisgroupe.com/en/the-groupe/about-publicis-groupe",
        linkedin: "https://www.linkedin.com/company/pgd/mycompany",
      }
  },
  {
    date: "Marzo 2023 - Septiembre 2023",
    title: "Freelancer",
    description:
      "Especializado en soluciones digitales innovadoras, he trabajado en proyectos destacados, desde sitios web atractivos hasta aplicaciones móviles personalizadas con tecnologías modernas como React y React Native. Mi enfoque centrado en el cliente y habilidades técnicas garantizan la entrega de productos de alta calidad que superan expectativas",
      company:{}
  },
  {
    date: "Agosto 2022 - Marzo 2023",
    title: "Desarrollador front-end − DonRep",
    description:
      "Lideré proyectos clave, como la plataforma interna Jimmy V3 para cotizaciones personalizadas y la plataforma de contabilidad, que aumentó la generación de facturas en un 50%. Estos logros mejoraron la eficiencia interna y fortalecieron nuestra capacidad para ofrecer servicios adaptados a las necesidades de los clientes",
      company:{
        webside: "https://donrep.co/",
        linkedin: "https://www.linkedin.com/company/donrep/",
      }
  },
  {
    date: "Agosto 2021 - Agosto 2022",
    title: "Senior Frontend Developer − ITGlobers",
    description:
      "Logré significativos avances en la aplicación Bancolombia (Tu360Inmobiliario). Implementé mejoras en la interfaz de usuario para optimizar la experiencia de los clientes, aumentando la facilidad de uso en un 30%.",
      company:{
        webside: "https://www.itglobers.com/",
        linkedin: "https://www.linkedin.com/company/itglobers/",
      }
  },
  {
    date: "Abril 2021 - Agosto 2021",
    title: "Senior Frontend Developer − Rebus Technology",
    description:
      "Participe el desarrollo exitoso de la interfaz de usuario inicial de una Aplicación Web Progresiva (PWA) para apuestas electrónicas en Latinoamérica, conocida como Greenrun. Mi enfoque se centró en la creación de interacciones de usuario diseñadas específicamente para dispositivos móviles, optimizando el consumo de API REST y utilizando las mejores tecnologías de tipeo para mejorar la legibilidad del código.",
      company:{
        webside: "https://rebustech.io/",
        linkedin: "https://www.linkedin.com/company/rebus-technology/",
      }
  },
  {
    date: "Octubre 2019 - Abril 2021",
    title: "Professional Frontend Developer − Sense Digital Colombia",
    description:
      "Contribui en el desarrollo exitoso de una aplicación similar a Mercado Libre, pero enfocada específicamente en la venta de equipos industriales. Además, construí aplicaciones basadas en JavaScript que resultaron en un incremento del 30% en el rendimiento de las ventas en línea.",
      company:{
        webside: "https://sense-digital.co/",
        linkedin: "https://www.linkedin.com/company/sense-digital-colombia/",
      }
  },
  {
    date: "Septiembre 2019 - Diciembre 2019",
    title: "Fullstack Angular Instructor − BIT - Bogotá Institute of Technology",
    description:
      "Coordiné la capacitación exitosa de 150 mujeres en Diseño Web Básico y FullStack. Además, lideré el desarrollo e implementación de proyectos personalizados utilizando la tecnología MEAN Stack.",
      company:{
        webside: "https://bit.institute/",
        linkedin: "https://www.linkedin.com/school/bit---bogot%C3%A1-institute-of-technology/",
      }
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
